body {
    font-family: Arial, sans-serif;
    background-color: #f4f9fc;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb {
    color: #888;
    font-size: 14px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

.card-header {
    font-weight: bold;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.breadcrumb-link {
    color: blue;
    text-decoration: none;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}